<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yo Kanjeo | Completar registro</title>
    <style>
      body {
        background-color: #ffffff;
      }
    </style>
  </head>
  <body>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <td align="center">
          <!-- Main container -->
          <table
            width="650"
            cellspacing="0"
            cellpadding="0"
            border="0"
            align="center"
            style="
              border-collapse: collapse;
              font-family: Arial, sans-serif;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            "
          >
            <!-- Title -->
            <tr>
              <td
                bgcolor="#0EA5E9"
                style="
                  padding: 20px;
                  text-align: center;
                  color: white;
                  font-size: 24px;
                  border-top-left-radius: 6px;
                  border-top-right-radius: 6px;
                "
              >
                Bienvenido/a a YoKanjeo
              </td>
            </tr>

            <!-- Image -->
            <tr>
              <td align="center" style="padding: 20px">
                <img
                  src="https://seeklogo.com/images/G/google-logo-28FA7991AF-seeklogo.com.png"
                  alt="Logo Bienvenido a YoKanjeo"
                  width="50"
                  style="border-radius: 6px"
                />
              </td>
            </tr>

            <!-- Description -->
            <tr>
              <td
                style="
                  padding: 0px 20px 10px 20px;
                  text-align: center;
                  color: #6b7280;
                  font-size: 16px;
                "
              >
                <h2 style="color: #111827">Completa tu registro</h2>
                Únete a YoKanjeo, la plataforma líder para corredores de
                propiedades. Descubre herramientas exclusivas que te ayudarán a
                potenciar tu negocio y conectar con clientes potenciales de
                manera efectiva.
              </td>
            </tr>

            <!-- Button -->
            <tr>
              <td align="center" style="padding: 20px">
                <a
                  href="{{link}}"
                  target="_blank"
                  style="
                    background-color: #0ea5e9;
                    color: #ffffff;
                    padding: 15px 25px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    border-radius: 4px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                  "
                >
                  Únete Ahora
                </a>
              </td>
            </tr>
          </table>
          <!-- End main container -->
        </td>
      </tr>
    </table>
  </body>
</html>
